<%= video_tag @video.file.url, controls: true, class: "w-100" if @video.file? %>
<h4><%= @video.title %>
</h4>
<br>
投稿者:　<%= @video.user.nickname %>
<%= simple_format @video.description %>
View count:　<%= @video.view_count.to_i %>
</p>
<% if current_user && (@video.user == current_user) %>
<%= link_to '編集', edit_video_path(@video), class: "btn btn-danger" %> |
<%= link_to '削除', @video, method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-outline-danger" %> |
<%= link_to '一覧', videos_path, class: "btn btn-danger" %>
<% else %>
<%= link_to '一覧', videos_path, class: "btn btn-danger" %>
<% end %>
<br><br><br>

<div id="comments">
  <%= render "videos/comments" %>
</div>
